<div class="list_of_cinemas">
  <h3>List of Cinemas</h3>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li *ngFor="let c of cinemas; let index = index" [ngbNavItem]="index + 1">
      <button ngbNavLink (click)="getProjectionsByCinema(c.id)">
        {{ c.name }}
      </button>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-12 col-md-6 mb-4 d-flex">
            <div class="card w-100">
              <div class="card-header">Featured</div>
              <div class="card-body">
                <div class="row gap-4">
                  <div class="col-md-5">
                    <img
                      class="card-img-top"
                      src="../.."
                      alt="Card image cap"
                    />
                  </div>
                  <div class="col-md-6 list-group" id="list-tab" role="tablist">
                    <a
                      class="list-group-item list-group-item-action active"
                      id="list-home-list"
                      data-toggle="list"
                      role="tab"
                      aria-controls="home"
                      style="cursor: pointer"
                      >seance 1</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
