<div class="list_of_cinemas">
    <h3>List of Cinemas</h3>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li *ngFor="let c of cinemas; let index = index" [ngbNavItem]="index + 1">
            <button ngbNavLink>{{ c.name }}</button>
            <ng-template ngbNavContent>
                <div class="row">
                    <div class="col-12 col-md-6 mb-4 d-flex">
                        <div class="card w-100">
                            <div class="card-header">
                                Featured
                            </div>
                            <div class="card-body">
                                <div class="row gap-4">
                                    <img class="col-md-4" src="..." alt="Film Image">
                                    <div class="col-md-7">
                                        <div class="list-group" id="list-tab" role="tablist">
                                            <a *ngFor="let s of seances" class="list-group-item list-group-item-action" id="list-home-list"
                                                data-toggle="list" role="tab" aria-controls="home"
                                                style="cursor: pointer;">{{ s.heureDebut.split("T")[1].substring(0, 5) }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>